.intro{
    /*background: linear-gradient(#5390d9, #80ffdb);*/
    background-color: rgba(97, 165, 194, 0.7);
    color: #013A63;
}
.intro{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero-intro h2{
    font-size: 50px;
}
.hero-intro p{
    font-size: 20px;
}

#logo{
    max-height: 430px;
    max-width: 500px;
}

.socials{
    width: 15vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
}
.fab{
    color: #013A63;
}